.project-item {
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

.project-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#project h3 {
  letter-spacing: 12px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  font-weight: bold;
  line-height: 32px;
  margin-bottom: 100px;
}

.project-info {
  padding: 12em 0;
}

.project-item img {
  width: 550px;
  height: 330px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  border-radius: 5px;
  margin: auto !important;
}

.color-overlay {
  position: relative;
  overflow: hidden;
}

.color-overlay:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background:rgb(#4dc47d);
  background: #4dc47d;
  background:rgba(#4dc47d,0.4);   
  opacity: .2;      
  z-index: 2;
}

.project-item:hover img {
  transform: scale(1.1);
}

.project-overlay h1 {
  color: #ffffff;
  margin: 0;
}
.project-overlay h3 {
  color: #d9d9d9;
  font-size: 14px;
  letter-spacing: 0.2px;
  margin-top: 0;
}

.project-item:hover .project-overlay {
  opacity: 1;
}

/*---------------------------------------
  MOBILE RESPONSIVE              
-----------------------------------------*/

@media (max-width: 980px) {
  h3 {
    margin-bottom: 50px;
  }

  .project-info {
    padding: 4em 0;
  }
}

@media (max-width: 580px) {
  h1 {
    font-size: 26px;
  }

  .project-info {
    padding: 5em 0;
  }

  #project h4 {
    letter-spacing: 6px;
  }
}
