.custom-navbar {
  margin-bottom: 0;
  background-color: #4dc47d;
  padding: 20px 0;
}

.custom-navbar .container {
  display: flex;
  justify-content: space-between;
}

.custom-navbar .navbar-header {
  width: 30%;
}

.custom-navbar .navbar-brand {
  color: #f9f9f9;
  font-weight: normal;
  font-size: 30px;
}

.menu {
  width: 70%;
}
.menu ul {
  float: right;
}

.dropdown {
  position: relative;
  display: inline-block;
}

 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #4dc47d;
  min-width: 1px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

 .dropdown-item{
  text-decoration: none !important; 
  margin: 8px !important;
  display: block;
  opacity: 1;
}

.custom-navbar .nav li a {
  font-size: 18px;
  font-weight: 400;
  color: #f9f9f9;
  letter-spacing: 0.5px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  padding: 0;
  margin: 15px 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #ffffff;
}

.custom-navbar .navbar-nav li a:after {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 2px;
  margin: auto;
  background: transparent;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.custom-navbar .navbar-nav li a:hover:after,
.custom-navbar .nav li.active > a:after {
  background: #ffffff;
  color: #ffffff;
  width: 100%;
}

.custom-navbar .nav li.active > a {
  background-color: transparent;
  color: #ffffff;
}

.custom-navbar .navbar-toggle {
  border: none;
  padding-top: 10px;
}

.custom-navbar .navbar-toggle {
  background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
  background: #ffffff;
  border-color: transparent;
}

@media (min-width: 768px) {
  .custom-navbar {
    background: 0 0;
  }
  .custom-navbar.top-nav-collapse {
    background: #4dc47d;
    padding: 15px 0;
  }
}

/*---------------------------------------
  MOBILE RESPONSIVE              
-----------------------------------------*/

@media (max-width: 767px) {
  .custom-navbar {
    padding: 10px 0;
  }
  .custom-navbar .nav li a {
    display: inline-block;
    line-height: 15px;
    margin-bottom: 0;
  }
  .custom-navbar .nav li:last-child a {
    margin-bottom: 5px;
  }
  .custom-navbar .navbar-header {
    width: 100%;
  }

  .dropdown-content {
    position: relative;
    background-color: #ffffff;
    margin-top: 2px;
    width: 100px;
  }

  .dropdown-item{
    color: #4dc47d !important;
    margin: 5px !important;
  }
  
}
