#about {
  padding-top: 200px;
  padding-bottom: 250px;
}

.about-info {
  margin-top: -50px !important;
  text-align: left;
}

h3 {
  font-size: 20px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.composition {
  position: relative;
}

.composition:hover .composition__photo {
  transform: scale(0.95);
}

.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(black, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: .6rem;
}

.composition__photo:hover {
  outline: 1rem solid #4dc47d;
  min-width: 1px;
  z-index: 20;
  transform: scale(1.5) translateY(1.5rem);
  box-shadow: 0 2.5rem 4rem rgba(black, 0.4);
}

.composition__photo--p1 {
  left: 0;
  top: -2rem;
}

.composition__photo--p2 {
  right: 0;
  top: 2rem;
}

/*---------------------------------------
  MOBILE RESPONSIVE              
-----------------------------------------*/

@media (max-width: 980px) {
  h3 {
    margin-bottom: 50px;
  }

  #about {
    padding-top: 100px;
    padding-bottom: 130px;
  }

  .composition__photo {
    float: left;
    position: relative;
    width: 33.3333333%;
    box-shadow: 0 1.5rem 3rem rgba(black, 0.2);
  }

  .composition__photo--p1 {
    top: 0;
    transform: scale(1.2);
  }

  .composition__photo--p2 {
    top: 0;
    transform: scale(1.3);
    z-index: 60;
  }
}

@media (max-width: 580px) {
  h1 {
    font-size: 26px;
  }

  .about-info h3 {
    letter-spacing: 6px;
  }

  .composition__photo {
    float: left;
    position: relative;
    width: 30%;
    box-shadow: 0 1.5rem 3rem rgba(black, 0.2);
  }

  .composition__photo--p1 {
    top: 0;
    transform: scale(1.2);
  }

  .composition__photo--p2 {
    top: 0;
    transform: scale(1.2);
    z-index: 60;
  }

  .composition {
    display: flex;
    justify-content: space-around;
  }

  .composition__photo:hover {
    outline: none;
    z-index: 20;
    transform: none;
    box-shadow: 0 2.5rem 4rem rgba(black, 0.4);
  }

}
