footer {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  footer .row {
  text-align: center;
  }
  
  footer h4 {
    padding-top: 12px;
  }
  
  footer a {
    color: #757575;
  }
  
  footer .copyright-text {
    padding-top: 42px;
  }
  
  /*---------------------------------------
  SOCIAL ICON             
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .social-icon li {
    display: inline-block;
    list-style: none;
  }
  
  .social-icon li a {
    border-radius: 100%;
    color: #292929;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    text-align: center;
    position: relative;
    margin: 4px 8px 0 8px;
  }
  
  .social-icon li a:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }